<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Amazon Automation Test Suite" verbose="1">
    <listeners>
        <listener class-name="utils.ScreenshotListener"/>
    </listeners>
    <test name="Module 1: Search Functionality Tests">
        <classes>
            <class name="testcase1">
                <methods>
                    <include name="testValidProductSearch"/>
                </methods>
            </class>
            <class name="testcase2">
                <methods>
                    <include name="testInvalidKeywordSearch"/>
                </methods>
            </class>
            <class name="testcase3">
                <methods>
                    <include name="testPriceFilter"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
